<div class="col">
    <div class="card custom-card">

        <img
            src="{{this.image}}"
            class="card-img-top"
            alt="..."
        />
        <div class="card-body">
            <h5 class="card-title"><a href='/polls/vote/{{poll_id}}'>{{poll_title}}</a></h5>            
            <p class="card-text">{{poll_description}}</p>
        </div>
    </div>
</div>