<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Title goes here</title>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

<body>
  <header>
    <h1><a href="/">Be For Real</a></h1>
    
  </header>
  <nav>
  </nav>
  <main>
    {{{body}}}
  </main>

  <script src="/js/script.js"></script>
</body>

</html>