<h2>About <em>Be For Reel</em></h2>
  <main>
    <p>Do you like movies? We do.</p>
    <p>Some of us like action movies, some of us like comedies, some of us like dramas or rom-coms or superhero flicks or westerns or classics...but when you get down to it, all of us--and you, too--have at least a little part of ourselves that loves the movies.</p>
    <p>And if you love the movies, chances are that you love not just watching them but talking about them, analyzing them, debating them, and comparing them. If you enjoy those things, then welcome to Be For Reel.</p>
    <p>Create polls. Vote. Comment. Review. We all know which movies are really the best. Here's your chance to make your case, with every vote and every comment. So let everyone know.</p>
    <p>Because it's the movies. Be for reel.</p>
  </main>
  
