<h2>Create your poll</h2>

<div class="container" id="create-container">
    <div class="row">
        <div class="col-12 col-md-6">
          <form id="poll-data">
            <label for="titleText" id="title-label">Enter your poll's title</label>
            <input id="titleText" class="form-control" placeholder="(80 characters max)" />
            <label for="descText">Enter your poll's description</label>
            <textarea id="descText" class="form-control" placeholder="(optional)"></textarea>
          </form>
        </div>
        <div class="col-12 col-md-6">
          <form id="searchMovies" class="col-12">
            <label for="searchField">Enter all or part of a movie title</label>
            <input id="searchField" class="form-control" />
            <button class="custom-btn" id="searchBtn">Search</button>
            <div>
              In the search results below, click or tap on a movie to select it for your poll. Click or tap it again to remove it from the poll.
            </div>
          </form>
         
        </div>
        <div class="col-12 col-md-6">
            <ul id="selected" class="list-group">
              <li id="selected-header" class="list-group-item fs-6">Selected films</li>
            </ul>
            <button id="savePollBtn" class="custom-btn">Save Poll</button>
        </div>
        <div class="col-12 col-md-6">
            <ul id="search-results" class="list-group">
              <li id="results-header" class="list-group-item fs-6">Search results</li>
            </ul>
        </div>
    </div>
</div>

<script src="/js/createPoll.js"></script>