<main>
  <section class="py-2 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light homepage-title">Be For Reel</h1>
        <p class="lead custom-about text-light">An app to be real about your
          favorite reels. Particpate, create, and comment on polls about
          your favorite movies.</p>
        <p>
        </p>
      </div>
    </div>
  </section>

  <section class="container my-4 card-section">
    <div class="row row-cols-1 row-cols-md-3 g-3 justify-content-center">
      {{#if userInfo.loggedIn}}
        {{#each showPolls as |poll|}}
          {{> homepanel_loggedIn}}
        {{/each}}
      {{else}}
        {{#each showPolls as |poll|}}
          {{> homepanel_notLoggedIn}}
        {{/each}}
      {{/if}}
    </div>
  </section>

</main>

<script src="/js/homepage.js"></script>
