<main>
  <section class="text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light homepage-title mb-2">Be For Reel</h1>
        <p class="lead custom-about text-light mb-2">An app to be real about your
          favorite reels. Participate, create, and comment on polls about
          your favorite movies.</p>
        <p>
        </p>
      </div>
    </div>
  </section>

  <section class="container card-section">
    <div class="row row-cols-1 row-cols-md-3 g-3 justify-content-center">
        {{#each showPolls as |poll|}}
          {{> homepanel}}
        {{/each}}
    </div>
  </section>

</main>
