<p>Home page stuff goes here!</p>

<label for="input-film">Input a film here</label>
<input id="input-film" type="text" />
<button id="submit-text">Search films</button>
<br/>
<label for="year-menu">or Best Picture Nominees for </label>
<select id="year-menu"></select>
<button id="submit-year">Get nominees</button>
<h3>Search Results:</h3>
<div id="results"></div>