<div class="container my-3">
      <div class="row pb-5">
        <div class="mx-auto">
        <!-- Main content -->
        <div class="col-lg-9 mx-auto mb-3">
    
          <div class="card row-hover pos-relative py-3 px-3 mb-3 border-warning border-top-0 border-right-0 border-bottom-0 rounded-0">
            <div class="row align-items-center">
              <div class="col-md-8 mb-3 mb-sm-0">
                <h5>
                  <a href="#" class="text-primary">Poll Title</a>
                </h5>
                <p class="text-sm"><span class="op-6">Posted</span> <a class="text-black" href="#">20 minutes</a> <span class="op-6">ago by</span> <a class="text-black" href="#">username</a></p>
                <div> <p>description</p></div>
              </div>
              <div class="col-md-4 op-7">
                <div class="row text-center op-7">
                  <div class="col px-1"> <i class="ion-connection-bars icon-1x"></i> <span class="d-block text-sm">{{votes}} Votes</span> </div>
                  <div class="col px-1"> <i class="ion-ios-chatboxes-outline icon-1x"></i> <span class="d-block text-sm">{{comment}} Comments</span> </div>
                </div>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>