ul#selected cite {
    display: none;
}

ul#search-results cite {
    font-size: .9em;
    line-height: 1.2em;
    font-style: normal;
    color: #aaaaaa;
    margin-top: 8px;
}

h6 {
    margin-bottom: 0;
}

#selected li,
#search-results li {
    background-color:rgba(0, 0, 0, .5);
    color: white;
    border-bottom-color: rgba(255, 255, 255, .125);
    cursor: pointer;
}

#selected li:first-child,
#search-results li:first-child {
    cursor: default;
}

#selected li:last-child,
#search-results li:last-child {
    border-bottom-color: var(--tertiary-color);
}

#selected li#selected-header,
#search-results li#results-header {
    background-color: rgb(28, 59, 91);
    color: white;
}

form {
    background-color: rgba(0, 0, 0, .5);
    padding: 25px;
    border-radius: 10px;
    margin-bottom: 12px;
    color: white;
}

form div {
    color: #aaaaaa;
    margin-top: 8px;
    font-size: .9em;
    line-height: 1.1em;
}

label {
    display: block;
}

textarea {
    height: 80px;
}

textarea,
input {
    width: 75%;
    margin-right: 10px;
    margin-bottom: 8px;
}

form#poll-data textarea,
form#poll-data input {
    width: 100%;
}

textarea:last-child,
input:last-child {
    margin-bottom: 0;
}

ul#selected + button {
    margin-top: 10px;
}

li.warning {
    border-color: #cb1d1d;
    border-width: 3px;
}

label.warning {
    color: #cb1d1d;
    font-weight: bold;
}

#savePollBtn {
    margin-bottom: 10px;
}