
body {
  font-family: "Raleway", sans-serif;
  height: 100%; 
  margin: 0;
  background-image: url("../images/movie-background-collage.jpg");
  background-size: cover;
  background-color: #001d2c;
}

.homepage-title {
  font-family: "Limelight", cursive;
  font-size: 4rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: rgba(255, 255, 255, 0.7);
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.5),
    0 0 10px rgba(255, 255, 255, 0.8), 0 0 25px rgba(255, 255, 255, 0.8),
    0 0 40px rgba(255, 255, 255, 0.8), 0 0 60px rgba(255, 255, 255, 0.8),
    0 0 90px rgba(255, 255, 255, 0.8), 0 0 100px rgba(255, 255, 255, 0.8);
  -webkit-text-stroke: 3px rgba(0, 0, 0, 0.5);
  -webkit-text-fill-color: transparent;
}

.custom-about {
  opacity: 0; 
  animation: slideIn 2s ease-in-out forwards;
  color: white !important;
  font-weight: bold;
}

.card {
  max-height: 400px;
  min-height: 400px;
  margin-top: 20px;
  background-color: black;
  
}

.card-section {
    margin-bottom: 100px !important;

}

.card-img-top {
  object-fit: cover;
  max-height: 300px;
  object-position: top;
  margin-top: -20px;
}

.title-container {
  height: 60px;
  overflow: hidden;
}

.card-body.custom-body {
  height: 100px !important;
  padding: 0.5em
}



footer {
  position: relative; 
  width: 100%;
  height: 50px; 
  padding: 10px;
}  

@media screen and (max-width: 650px) {
  footer {
  position: relative; 
  height: 70px; 
  padding: 0px;
  border-top: solid #1BA098;
  margin-top: 100px;
  font-size: 15px;
}

.homepage-title {
  font-family: "Limelight", cursive;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 20px;
  color: rgba(255, 255, 255, 0.7);
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.5),
    0 0 10px rgba(255, 255, 255, 0.8), 0 0 25px rgba(255, 255, 255, 0.8),
    0 0 40px rgba(255, 255, 255, 0.8), 0 0 60px rgba(255, 255, 255, 0.8),
    0 0 90px rgba(255, 255, 255, 0.8), 0 0 100px rgba(255, 255, 255, 0.8);
  -webkit-text-stroke: 3px rgba(0, 0, 0, 0.5);
  -webkit-text-fill-color: transparent;
}

 .custom-about {
    display: none;
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(50px); 
  }
  to {
    opacity: 1;
    transform: translateY(0); 
  }
}