form {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  margin: auto;
  padding: 20px;
  font-family: "Raleway", sans-serif;
  border-radius: 4px;
  opacity: 1;
  margin-bottom: 20px !important;
}

.option {
  font-size: 30px;
}

.custom-btn {
    background-color: #1BA098 !important;
     border: solid #051622;
}

.custom-btn:hover {
    background-color: #DEB992 !important;
}

#login-error,
#create-error {
  color: #cb1d1d;
}

@media screen and (max-width: 650px) {

 footer {
  position: relative; 
  height: 70px; 
  color: white;
  padding: 0px;
  border-top: solid #1BA098;
  margin-top: 90px;
}

  .container {
    margin: auto;
  }

  footer p {
    text-align: left;
  }
}
