
body {
  font-family: 'Raleway', sans-serif;
  height: 100%; 
  margin: 0;
   background-image: url('../images/all.jpg');
  background-size: cover;
  
 
}

header {
  border-bottom: solid white;
  padding: 10px

}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #fff !important;
  padding: 40px 30px 30px; 
  display: none; 
  line-height: 1.2;
}


footer p {
  text-align: left;
}


a {
  color: rgb(250, 246, 246) !important; 
  font-family: 'Raleway', sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  transition: color 0.2s ease-in-out; 
}

h2 {
  font-family: "Limelight", cursive;
  color: white !important;
  text-align: center;
}
a:hover {
  color: #ccc;
}

.custom-navbar {
  color: white;
  font-weight: bold;
}

.navbar-toggler {
  border-color: white solid 3px;
  background-color: rgba(255, 251, 251, 0.2); /* Adds a semi-transparent white background */
  border-radius: 5px; /* Optional: Adds rounded corners */
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='red' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}


.custom-header {
 padding: auto;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0.9;
  background-color: transparent;
}


.navbar-brand {
  font-size: 2rem;
  font-weight: bold;
  color: rgb(255, 255, 255); 
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.footer-text {
  text-align: left;
  margin-right: 10px;
}

.powered-by {
  text-align: left;
  margin-left: 10px;
}

.imdbRight {
  display: inline-block;
}

