
body {
  font-family: 'Raleway', sans-serif;
  height: 100%; 
  margin: 0;
   background-image: url('../images/blurry-gradient-haikei.png');
  background-size: cover;
  
 
}

header {
  border-bottom: solid white;
  padding: 10px

}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #fff !important; 
  padding: 10px;
  text-align: left;
}

footer p {
  text-align: left;
}


a {
  color: rgb(250, 246, 246) !important; 
  font-family: 'Raleway', sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  transition: color 0.2s ease-in-out; 
}

a:hover {
  color: #ccc;
}


.custom-navbar {
  color: white;
  font-weight: bold;
}


.custom-header {
 padding: auto;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0.9;
  background-color: transparent;


}


.navbar-brand {
  font-size: 2rem;
  font-weight: bold;
  color: rgb(255, 255, 255); 
}

.imdbRight {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 15px 10px;
  
}

.imdb-icon {
  margin-left: 5px;
  font-size: 1.2rem;
  color: #f5c518;
}

.navbar-toggler-icon {
  color: black;
}


.powered-by {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}

