
body {
  font-family: 'Raleway', sans-serif;
  height: 100vh;
  margin: 0;
  background-image: url('../images/all.jpg');
  background-size: cover;
  padding: 20px;
  background-color: #001d2c;
  background-repeat: no-repeat;

}

header {
  border-bottom: solid #1BA098;
  padding: 7px;

}

footer {
  position: relative; 
  height: 70px; 
  color: white;
  padding: 0px;
  border-top: solid #1BA098;
  margin-top: 90px;
}


footer p {
  text-align: left;
}


a {
  color: rgb(250, 246, 246) !important;
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  font-weight: 600;
  transition: color 0.2s ease-in-out;
  padding-right: 10px; 
  text-decoration: none;
}


h2 {
  font-family: "Limelight", cursive;
  color: white;
  text-align: center;
  margin-top: 15px;
}
a:hover {
  color: #DEB992 !important;
}

.custom-navbar {
  color: white;
  font-weight: bold;
}

.navbar-toggler {
  border-color: white solid 3px !important;
  background-color: rgba(226, 221, 221, 0.2) !important;
  border-radius: 5px !important; 
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}


.custom-header {
 padding: auto;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0.9;
  background-color: transparent;
}

.card-text {
  color: white; 
}


.navbar-brand {
  font-size: 2rem;
  font-weight: bold;
  color: rgb(255, 255, 255); 
}

.navbar-brand, .collapse {
  display: flex;
  align-items: center;
}


.custom-btn {
    background-color: #1BA098 !important;
     border: solid #1BA098 1px; 
     border-radius: 3px;
}

.custom-btn:hover {
    background-color: #DEB992 !important;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.footer-text {
  text-align: left;
  margin-right: 10px;
}

.powered-by {
  text-align: left;
  margin-left: 10px;
}

.imdbRight {
  display: inline-block;
}