:root {
  --link: #deb992;
  --secondary-color: #1ba098;
  --tertiary-color: rgb(18, 40, 62);
}

html {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  flex-grow: 1;
  position: relative;
  font-family: "Raleway", sans-serif;
  margin: 0;
  background-image: url("../images/all.jpg");
  background-size: cover;
  padding: 20px;
  padding-bottom: 100px;
  background-color: #01141e;
  background-repeat: no-repeat;
}

textarea:disabled,
input:disabled,
button:disabled {
  opacity: .5;
}

header {
  border-bottom: solid var(--secondary-color);
}

.navbar {
  padding-top: 0;
}

.navbar img {
  height: 80px;
}

footer {
  position: absolute;
  bottom: 0;
  height: 70px;
  width: calc(100vw - 40px);
  color: white;
  padding: 6px 0 0;
  border-top: solid var(--secondary-color);
  margin-top: 90px;
}

footer p {
  text-align: left;
}

footer #imdb-icon {
  height: 22px;
  position: relative;
  top: -2px;
}

a {
  color: rgb(250, 246, 246) !important;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  transition: color 0.2s ease-in-out;
  text-decoration: none;
}

h2 {
  font-family: "Limelight", cursive;
  color: white;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 15px;
}
a:hover {
  color: var(--link) !important;
}

#header-container {
  padding: 0;
}

.custom-navbar a {
  color: white;
  font-size: 1em;
  font-weight: 500;
  padding-left: 12px;
}

.custom-navbar #bfr-logo {
  padding-left: 0;
}

.navbar-toggler {
  border-color: white solid 3px !important;
  background-color: rgba(226, 221, 221, 0.2) !important;
  border-radius: 5px !important;
  position: relative;
  top: 20px;
}

.navbar-toggler-icon {
  height: 20px;
  width: 20px;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.nav-item {
  text-align: right;
}

.custom-header {
  padding-bottom: 3px;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0.9;
  background-color: transparent;
}

.card-text {
  color: white;
}

.custom-navbar .username {
  font-weight: 800;
  color: var(--link) !important;
}

.custom-navbar .username:hover {
  color: white !important;
}

.navbar-brand {
  font-size: 2rem;
  font-weight: bold;
  color: rgb(255, 255, 255);
}

.navbar-brand,
.collapse {
  display: flex;
  align-items: center;
}

.navbar-collapse.show {
  padding-right: 0;
}

.navbar-collapse > ul {
  position: relative;
  top: 18px;
  display: flex;
  float: right;
  white-space: nowrap; /* prevent links from wrapping to new line */
}

.no-button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  margin-left: 10px;
  margin-right: 5px;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}

.about {
   background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-weight: bolder;
}

.pollDescription {
  text-align: center;
}
 
.no-button:hover {
  color: var(--link) !important;
}


label {
  display: block;
  margin-bottom: 2px;
  margin-top: 6px;
}

.form-control {
  border: 1px solid #020202;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  font-size: 0.9rem;
  padding: 6px;
  background: #ffffff;
  color: #2e323c;
}

.custom-btn {
  background-color: var(--secondary-color) !important;
  border: solid var(--secondary-color) 1px;
  border-radius: 3px;
  color: black;
  margin-top: 4px;
}

.custom-btn:hover {
  background-color: var(--link) !important;
}

.custom-btn:disabled:hover {
  background-color: var(--secondary-color) !important;
}


.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding-top: 6px;
  width: 100%;
  height: 100%;
}

.footer-text {
  text-align: left;
  margin-right: 10px;
}

.powered-by {
  text-align: left;
  margin-left: 10px;
}

.imdbRight {
  display: inline-block;
}

.navbar-collapse {
  position: relative;
  top: 10px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  overflow-y: auto;
  text-align: center;
  width: 100%; /* set width to 100% */

}

@media only screen and (max-width: 768px) {
  h2 {
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  h6 {
    font-size: 15px;
    margin-bottom: 5px;
  }
  .navbar {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: -15px;
    min-height: 10px;
  }
  .navbar-collapse {
    top: 10px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    overflow-y: auto;
    text-align: end;
    width: 50%;
    /* font-size: 11px; */
  }

  .navbar-collapse > ul {
    top: 0;
  }

  .no-button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1em;
    margin-right: 2px;
    margin-left: 2px;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
  }

  .about {
  font-size: 11px;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}
 
  .username {
    font-size: 15px;
   
  }
  .customNavLink {
    font-size: 11px !important;
    padding: 1px;
    margin-right: 2px;
  }

  .navbar-collapse.show {
    transform: translate(0, 0);
  }

  .pollDescription {
    font-size: 20px;
    margin-bottom: 5px;
  }

}

@media only screen and (max-width: 440px) {
  footer {
    font-size: .8em;
    line-height: 1.5em;
  }
  footer #imdb-icon {
    height: 20px;
    top: -2px;
  }
}
p.subhead {
  text-align: center;
  margin-top: 0;
  color: #bbbbbb !important;
  margin-bottom: 10px;
}

/* LOADING ANIMATION */

.loading-screen {
  display: flex;
  visibility: visible;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  align-items: center;
  justify-content: center;
}

.loading-screen.hidden {
  visibility: hidden;
}

.loading {
  width: 80px;
  display: flex;
  flex-wrap: wrap;
  animation: rotate 3s linear infinite;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

.loading span {
  width: 32px;
  height: 32px;
  background-color: red;
  margin: 3px;
  animation: scale 1.5s linear infinite;
}

@keyframes scale {
  50% {
    transform: scale(1.2);
  }
}

.loading span:nth-child(1) {
  border-radius: 50% 50% 0 50%;
  background-color: #ffbe0b;
  transform-origin: bottom right;
}

.loading span:nth-child(2) {
  border-radius: 50% 50% 50% 0;
  background-color: #ff006e;
  transform-origin: bottom left;
  animation-delay: 0.5s;
}

.loading span:nth-child(3) {
  border-radius: 50% 0 50% 50%;
  background-color: #fb5607;
  transform-origin: top right;
  animation-delay: 1.5s;
}

.loading span:nth-child(4) {
  border-radius: 0 50% 50% 50%;
  background-color: #8338ec;
  transform-origin: top left;
  animation-delay: 1s;
}