
.icon-1x {
    font-size: 24px !important;
}
a{
    text-decoration:none;    
}
.text-primary, a.text-primary:focus, a.text-primary:hover {
    color: #00ADBB!important;
}
.text-black, .text-hover-black:hover {
    color: #000 !important;
}
.font-weight-bold {
    font-weight: 700 !important;
}

.my-3 {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .pb-6 {
  padding-bottom: 6rem !important;
}

.list-group-item {
    background-color: #000 !important;
}