.custom-card .card-body h6 {
    color: white !important;
    font-weight: bolder !important;
}

.custom-card {
    background-color: rgba(252, 250, 250, 0.5);
  color: rgb(15, 14, 14);
    opacity: 0.9;
    border: 0;
    margin-bottom: 1rem;

}

.form-control {
    border: 1px solid #020202;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-size: .825rem;
    background: #ffffff;
    color: #2e323c;
}


.links {
    display: flex !important;
    justify-content: flex-start !important;
}

.card {
    /* background: #ffffff; */
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 0;
    margin-bottom: 1rem;
}
