.main-container {
  max-width: 690px;
}

.custom-card .card-body h6 {
  color: white !important;
  font-weight: bolder !important;
}

.custom-card {
  background-color: rgba(252, 250, 250, 0.5);
  color: rgb(15, 14, 14);
  opacity: 0.9;
  border: 0;
  margin-bottom: 1rem;
}

.detailsButton {
  font-size: .8em;
    text-decoration: none;
    font-weight: bold;
    color: white !important;
    padding: 3px
}

.details-container {
  display: flex;
  justify-content: space-between;
  padding: 8px 6px;
  align-items: center;
  background-color: var(--tertiary-color);
  margin-bottom: 10px;
}

.imdb-link {
  margin-left: 10px;
}

.links {
  display: flex !important;
  justify-content: flex-start !important;
}

.card {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 0;
  margin-bottom: 1rem;
}

.stars {
  display: block !important;
  text-align: center !important;
  margin-bottom: 10px;
}

.collapse.show {
  display: flex;
  flex-direction: column;
}

.option.selected {
  background-color: rgba(255, 255, 255, .2) !important;
}

.option h4:hover {
  cursor: pointer;
  
}

.collapse.show a {
  text-align: left;
  margin-top: 10px;
}

.description {
  background-color: #020202;
  opacity: 0.7;
  color: white;
}

.custom-link {
  color: #1ba098 !important;
  font-size: 15px !important;
  text-align: left !important;
}

.option {
  background-color: rgba(0, 0, 0, 0.5) !important;
  color: white;
  border: solid #1ba098 !important;
  border-bottom: none !important;
}

.option.voted {
  background-color: rgba(255, 255, 255, .2) !important;
}

li.option:last-child {
  border-bottom: solid #1ba098 !important;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

.button-container .btn {
  margin-left: auto;
}

.numberComments {
  font-size: 25px;
}

.smallDescription {
  font-size: 15px;
  text-align: center;
}

.movie-title {
  font-size: 1.2em;
}

.actors {
  font-size: .9em;
  color: #bbbbbb;
}

.vote-count {
  text-align: end;
  padding: 4px 12px;
  font-size: 1.7em;
  font-weight: 700;
}

.no-votes-links {
  text-align: center;
  margin-top: 10px;
}

.no-votes-links a {
  font-size: .8em;
}

li div.vote-count {
  background-color: var(--tertiary-color);
  border-bottom: 1px solid black;
}

li.top div.vote-count {
  background-color: var(--secondary-color);
  color: black !important;
}

div.more-film-info {
  padding: 12px;
}

div.more-film-info p {
  margin: 0;
}

div.more-film-info span {
  display: block;
  font-size: .9em;
  color: #bbbbbb;
}

div.more-film-info strong {
  color: white;
}

div.more-film-info div.info-links {
  margin-top: 10px;
}

div.more-film-info div.info-links a {
  margin-right: 6px;
}

div.more-film-info div.info-links a,
li.no-votes a {
  position: static; 
  color: var(--link) !important;
  font-size: .9em;
  margin-top: 10px;
}

div.more-film-info div.info-links a:hover,
li.no-votes a:hover {
  color: white !important;
}

h6.instructions {
  margin-top: 0 !important;
  margin-bottom: 12px !important;
  font-size: .9em;
  color: #bbbbbb !important;
  text-align: center;
}

div.actors {
  text-align: center;
}

div.info a.imdb,
div.more-info {
  position: absolute;
  top: 12px;
  right: 10px;
  padding: 0;
}

div.info a.imdb,
div.more-info button {
  font-size: .8em;
  text-decoration: none;
  font-weight: bold;
  color: white !important;
  padding: 0;
}

div.more-info {
  left: 10px;
}

li.option {
  padding: 0;
  position: relative;

}

li.voted {
  background-color: #666666;
}

.info {
  padding: 12px;
}

span {
  display: block;
  font-size: .9em;
  color: #bbbbbb;
}

span#publisher {
  margin-bottom: 6px;
  text-align: center;
}

span#publisher a {
  font-size: .9em !important;
}

.ind-comment {
  background-color: rgba(0, 0, 0, 0.5) !important;
  color: white;
  border-bottom: solid #1ba098 !important;
}

.ind-comment:last-child {
  border-bottom: none !important;
}

.ind-comment span {
  color: var(--link);
  display: block;
}

.ind-comment p {
  font-size: .8em;
  color: #bbbbbb;
  margin-top: 6px;
  margin-bottom: 0;
}

#comment-background {
    background-color: rgba(0, 0, 0, .5) !important;
    color: white;
    border-bottom: solid #1BA098 !important;
}

#comment {
  margin-top: 12px;
}

#submit {
  margin-top: 10px !important;
}

#submit.disabled:hover {
  cursor: not-allowed;
}

@media only screen and (max-width: 768px) {
  .list-group-item {
    display: block;
  }


  .btn-link {
    display: block;
  }

  h4 {
    font-size: 15px;
  }
}
