.custom-card .card-body h6 {
    color: white !important;
    font-weight: bolder !important;
}

.custom-card {
    background-color: rgba(252, 250, 250, 0.5);
  color: rgb(15, 14, 14);
    opacity: 0.9;
    border: 0;
    margin-bottom: 1rem;

}

.form-control {
    border: 1px solid #020202;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-size: .825rem;
    background: #ffffff;
    color: #2e323c;
}


.links {
    display: flex !important;
    justify-content: flex-start !important;

}

.card {
    /* background: #ffffff; */
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 0;
    margin-bottom: 1rem;
}

.stars {
  display: block !important;
  text-align: center !important;
  margin-bottom: 10px;
}

.collapse.show {
  display: flex;
  flex-direction: column;
}

.collapse.show a {
text-align: left;
  margin-top: 10px;
}

.description {
    background-color: #020202;
    opacity: 0.7;
    color: white;
}

.custom-link {
    color: #1BA098 !important;
    font-size: 15px !important;
    text-align: left !important;
}

.option.selected {
  background-color: #deb992d8 !important;
}

.option {
    background-color: rgba(0, 0, 0, .5) !important;
    color: white;
    border: solid #1BA098 !important;
}

.option h4:hover {
  cursor: pointer;
  
}

.button-container {
  display: flex;
  justify-content: space-between;
}

.button-container .btn {
  margin-left: auto;
}


#comment-background {
    background-color: rgba(0, 0, 0, .5) !important;
    color: white;
    border-bottom: solid #1BA098 !important;
}

#comment.disabled {
  background-color: #9a8b8b !important;
}

#submit.disabled:hover {
  cursor: not-allowed;
}

@media screen and (max-width: 650px) {
    h4 {
        font-size: 15px;
    }
}